{% extends "base.jinja2" %}

{% block title %}药丸 - 确认账户{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        你好, {{ current_user.username }}!
    </h1>
    <h3>你还未认证你的账户。</h3>
    <p>
        在访问药丸之前你需要确认你的账户。
        查看你的邮箱, 你应该收到一封确认邮件。
    </p>
    <p>
        未收到邮件?
        <a href="{{ url_for('auth.resend_confirmation') }}">再发一封</a>
    </p>
</div>
{% endblock %}
