{% extends "bootstrap/base.html" %}

{% block title %}要完{% endblock %}

{% block head %}
{{ super() }}
<meta http-equiv="Pragma" content="no-cache">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/styles.css') }}">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar mynavbar" role="navigation">
    <div class="row">
        <div class="navbar-header col-md-2 col-md-offset-2">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="brand">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">药丸</a>
                <a class="logo" href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='yaowan.jpg') }}">
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse col-md-6">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">首页</a></li>
                <li><a href="{{ url_for('main.index') }}">专栏</a></li>
                <li><a href="{{ url_for('main.index') }}">发现</a></li>
                <li><a href="{{ url_for('main.index') }}">开源库</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <form class="navbar-form col-md-1" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索要完">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.write_articles') }}" class="btn btn-default navbar-btn">写文章</a>
                {% if current_user.avatar %}
                <img class="img-rounded profile-thumbnail" src="{{ current_user.avatar }}">
                {% else %}
                <img class="img-rounded profile-thumbnail" src="{{ current_user.gravatar(size=18) }}">
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        设置 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <li><a href="{{ url_for('main.moderate') }}">管理评论</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">更改密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">更改邮箱</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                <li><a href="{{ url_for('auth.register') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning flash">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}