{% extends "base.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}要完 - 编辑个人资料{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>编辑个人资料</h1>
</div>
<div class="container">
    <div class="col-lg-4">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-lg-4">
        {% if user.avatar %}
        <img class="img-responsive" src="{{ user.avatar }}" width="340" height="340">
        {% else %}
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        {% endif %}
    </div>
    <div class="col-lg-4">
        <a class="btn btn-default" href="{{ url_for('main.edit_profile_avatar') }}">更换头像</a>
    </div>
</div>
{% endblock %}
