{% extends "base.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}要完 - 更换头像{% endblock %}

{% block page_content %}
<div class="container">
    <div class="col-lg-4">
        {% if user.avatar %}
        <img class="img-responsive" src="{{ user.avatar }}" width="340" height="340">
        {% else %}
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        {% endif %}
    </div>
    <div class="col-lg-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}