{% extends "base.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.jinja2" as macros %}

{% block title %}要完{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>你好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}新用户{% endif %}!</h1>
</div>
<div class="container">
    <div class="row navber">
        <div class="col-md-1">
            <img src="{{ current_user.avatar }}" width="50" height="50">
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('main.write_articles') }}">写文章</a>
        </div>
        <div class="col-md-1">
            <a href="#">分享链接</a>
        </div>
    </div>
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.jinja2' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
