{% extends "base.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.jinja2" as macros %}

{% block title %}要完 - 文章{% endblock %}

{% block page_content %}
{% include '_posts.jinja2' %}
<h4 id="comments">评论</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include '_comments.jinja2' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}
